<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body background="resources/css/Imagenes/Fondo.png">
    <nav class="navbar navbar-expand-lg navbar-light bg-fondo-inicio">
        <img height="80px" width="250px" src="resources/css/Imagenes/Logocentral.png" alt="Logo">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active disable">Reservación <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li> -->

            </ul>
            <a class="btn outline-primary margen" href="login">Iniciar Sesion</a>
        </div>
    </nav>
    <div class="cl-reserva-confi2 linea">
        <!-- <div class="register-form">
            <form action="register" method="post">-->

        <label class="color2" for="rol">JUNIOR SUITE DOS CAMAS QUEEN</label>
        <br>
        <p class="color fuente">Confortable y lujosa suite con un estilo clasico, detalles modernos y
            delicada decoración, al igual que su ducha de gran dimensión con
            reconfortante regadera de lluvia</p>
        <label class="color" for="rol">- Wifi de cortesia. </label>
        <br>
        <label class="color" for="rol">- Aire aconidicionado. </label>
        <br>
        <label class="color" for="rol">- Televisor Smart TV 60" con sistema de cable </label>
        <br>
        <label class="color" for="rol">- Baño moderno con amenidades, regadera tipo lluvia. </label>
        <br>
        <label class="color" for="rol">- Minibar. </label>
        <br>
        <label class="color" for="rol">- Servicio de despertador por cnmutador. </label>
        <br>
        <label class="color" for="rol">- Reloj despertador. </label>
        <br>
        <label class="color" for="rol">- Escritorio y Sillón. </label>
        <br>
        <label class="color" for="rol">- Kit de planchado. </label>



    </div>
    <div class="cl-reserva-confi linea">

        <label class="color2" for="rol">CONFIRMACIÓN DE RESERVACIÓN</label>
        <br>
        <label class="color" for="rol">Nombre: </label>
        <br>
        <label class="color" for="rol">Entrada: </label>
        <br>
        <label class="color" for="rol">Salida: </label>
        <br>
        <label class="color" for="rol">Habitacion(es): </label>
        <br>
        <div class="dropdown-divider"></div>
        <label class="color" for="rol">Total: </label>
        <br>
        <a class="btn btn-primary" href="#">Pagar</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>