<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="inicio-forma">
        <img src="resources/css/Imagenes/Logocentral.png" alt="Logo">
        <a href="agenda" class="btn-agenda">Agenda</a>
        <a href="registrar" class="btn-registrar">Registrar</a>
        <form action = "register" method = "get">
            <a href="register" class="btn-usuarios">Usuarios</a>
        </form>
</body>
</html>